<div class='row' ng-if='isAuthenticated()' ng-controller='PresentationController'>
    <div class="large-6 columns" ng-show="isThursday">
        Time left: {{ 60-totalTime }}
        <div ng-show="alreadyPresenting === false && totalTime < 60">
            <form ng-submit='addPresentation()'>
                <select ng-model="duration" id="duration">
                    <option value="1">1 minute</option>
                    <option value="2">2 minutes</option>
                    <option value="3">3 minutes</option>
                    <option value="4">4 minutes</option>
                    <option value="5">5 minutes</option>
                </select>
                <p>
                    <button type="submit" class='small'>Submit</button>
                </p>
            </form>

        </div>
        <div data-ng-repeat='presentation in list'>
            <span ng-if='currentUser.hsId == presentation.presenterId'>
                {{ presentation.presenterName }}
                {{ presentation.duration }} minutes
                <form ng-submit='cancelPresentation()'>
                    <button type='submit' class='small'>Cancel</button>
                </form>
            </span>
            <span ng-if='currentUser.hsId != presentation.presenterId'>
                {{ presentation.presenterName }}
                {{ presentation.duration }} minutes
            </span>
        </div>
    </div>
    <div class="large-12 columns" ng-hide="isThursday">NOT THURSDAY</div>
</div>

