<div ng-controller='PresentationController'>
    <div class="row">
        <div class="large-12 columns presentationtime">
        Presentation time left: <span class='minutes'>{{ 60 - totalTime }}</span> minutes
        </div>
    </div>
    <div class='row' ng-show='isAuthenticated() && isThursday && !alreadyPresenting && totalTime < 60'>
        <div class="large-6 columns">
            <div>
                <form ng-submit='addPresentation()'>
                    <select ng-model="duration" id="duration">
                        <option value="1">1 minute</option>
                        <option value="2">2 minutes</option>
                        <option value="3">3 minutes</option>
                        <option value="4">4 minutes</option>
                        <option value="5">5 minutes</option>
                    </select>
                    <button type="submit" class='small'>Submit</button>
                </form>
            </div>
        </div>
        <div class="large-12 columns" ng-hide="isThursday">Not a Thursday.</div>
    </div>

    <div class='row presenters' data-ng-repeat='presentation in list'>
        <div class="large-6 columns">
            <h5>Presenters</h5>
            <span ng-if='currentUser.hsId == presentation.presenterId'>
                {{ presentation.presenterName }}
                {{ presentation.duration }} minutes
                <form ng-submit='cancelPresentation()'>
                    <button type='submit' class='small'>Cancel</button>
                </form>
            </span>
            <span ng-if='currentUser.hsId != presentation.presenterId'>
                {{ presentation.presenterName }}
                {{ presentation.duration }} minutes
            </span>
        </div>
    </div>
</div>
