.show-hide {
  padding:10px;
  border:1px solid black;
  background:white;
}

.show-hide {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.show-hide.ng-hide {
  opacity:0;
}

.presentationtime {
  margin: 20px 0;
}

.presentationtime span {
  color: #4B8AB8;
  font-weight: 600;
}

.presenters {
  margin-top: 25px 0 10px 0;
}

.presenters h5 {
  text-transform: uppercase;
  color: #4B8AB8;
}

button.small {
  padding: 11px;
}

form select {
  display: inline-block;
  width: 120px;
}