.presentationtime {
  margin: 25px 0 10px 0;
}

.minutes {
  color: #4B8AB8;
  font-weight: 600;
}

.presenterslist {
  margin-top: 25px;
}

.presenters {
  margin-top: 30px;
  margin-bottom: 0px;
}

.presenters h5 {
  text-transform: uppercase;
  color: #4B8AB8;
  font-weight: 600;
  border-bottom: 1px dashed;
}

form.cancel {
  display: inline-block;
  margin-left: 20px;
}

.tiny.alert {
  padding: 5px;
}

button.small {
  padding: 11px;
}

form select {
  display: inline-block;
  width: 120px;
}
