.presentationtime {
  margin: 25px 0 10px 0;
}

.minutes {
  color: #4B8AB8;
  font-weight: 600;
}

.presenterslist {
  margin-top: 25px;
}

.presenters {
  margin-top: 30px;
  margin-bottom: 0px;
}

.presenters h5 {
  text-transform: uppercase;
  color: #4B8AB8;
  font-weight: 600;
  border-bottom: 1px dashed;
}

form.cancel {
  display: inline-block;
  margin-left: 20px;
}

.tiny.alert {
  padding: 5px;
  margin-bottom: 0px;
}

button.small {
  padding: 11px;
}

form select {
  display: inline-block;
  width: 120px;
}

#countdown {
  font-size: 115px;
}

.highlight > span {
  color: red;
  font-size: 145px;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: blinker;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;

  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
